<style>
#ingredient2 {
    color: red;
}
</style>

<h2>Homepage</h2>
<h3> Ingredients </h3>
<input type="text" id="myInput" onkeyup="searchBar()" placeholder="Search for names..">

<ul id="myUL">
    <% ingredients.forEach(function(ingredient) { %>
    <li><a id='ingredient<%= ingredient.id%>' href="#"> <%= ingredient.name %> </a></li>
    <% }); %>
</ul>
My Ingredients


<ul>
    <% inventory.forEach(function(inventory) { %>
    <li><a href="#"> <%= inventory.name %> </a></li>
    <% }); %>
</ul>

<p>User ID: <%= id %></p>

Cocktails You Can Make!

<ul>
    <% cocktails.forEach(function(cocktail) { %>
    <li><a href="#"> <%= cocktail.name %> </a></li>
    <% }); %>
</ul>

<form method="POST" action="/addingredient">

  <label for="addingredient">Add Ingredient Id</label>
  <input id="addingredient" type="text" name="ingredient">

  <input type="submit">
</form>

<form method="POST" action="/deleteingredient">

    <label for="deleteingredient">Delete Ingredient Id</label>
    <input id="deleteingredient" type="text" name="ingredient">
  
    <input type="submit">
</form>


<script>

function searchBar() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

async function loadInventory(){
    try {
        //const allIngredients = await Ingredients.findAll({});

        const parsedIngredients = await Ingredients.findAll({
            
        });
        console.log(parsedIngredients);

        res.render('index', { ingredients: parsedIngredients });

    } catch (err) {
        console.log(err);
    }
}

/*
async function addIngredient(ingredientId) {

    try {
        console.log('Hum')
        const inventory = await Inventory.create({userId: 1, ingredientId: 1})
    } catch (error) {
        console.log(error);
    }
}

addIngredient();
*/

</script>