<style>
#ingredient2 {

}
.hide {
    display: none;
}
</style>

<h2>Homepage</h2>
<h3> Ingredients </h3>
<input type="text" id="myInput" onkeyup="searchBar()" placeholder="Search for names..">

<ul id="myUL">
    <% ingredients.forEach(function(ingredient) { %>
    <li><a id='ingredient<%= ingredient.id%>' href="#"> <%= ingredient.name %></a>

        <form method="POST" action="/addingredient">
            <button class="addIngredient" type="submit" value="<%= ingredient.id %>" name="ingredient">Add to Inventory</button>
        </form>
    
    </li>
    <% }); %>
</ul>
My Ingredients


<ul>
    <% inventory.forEach(function(inventory) { %>
    <li>
        <a href="#"> <%= inventory.name %> </a>
    
        <form method="POST" action="/deleteingredient">
            <button class="deleteIngredient" type="submit" value="<%= inventory.id %>" name="ingredient">X</button>
        </form>
    
    </li>
    <% }); %>
</ul>

Cocktails You Can Make!

<ul>
    <% cocktails.forEach(function(cocktail) { %>
    <li>
        <!-- <a href="#"> <%= cocktail.name %> </a> -->

        <button class="lookupCocktail" onClick="displayCocktail('<%=cocktail.imgUrl%>','<%=cocktail.id%>')">
            <%= cocktail.name%>
        </button>
    
    </li>
    <% }); %>
</ul>

<h2>Cocktail Info</h2>
<img id = "tail" class = "cocktailImage hide" src = "#" width = 200>
<div id = "recipe" class = "hide">
    <h3>Recipe:</h3> 
    <div id = "recipeList">
        Mix Mix Mix
    </div>
</div>

<!-- <form method="POST" action="/addingredient">

  <label for="addingredient">Add Ingredient Id</label>
  <input id="addingredient" type="text" name="ingredient">

  <input type="submit">
</form>

<form method="POST" action="/deleteingredient">

    <label for="deleteingredient">Delete Ingredient Id</label>
    <input id="deleteingredient" type="text" name="ingredient">
  
    <input type="submit">
</form> -->


<script>

function searchBar() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

function displayCocktail(cocktailImg, cocktailId, recipeList) {
    document.getElementById('tail').src = cocktailImg;
    document.getElementById('tail').classList.remove('hide');
    document.getElementById('recipe').classList.remove('hide');
    let currrentCocktail = cocktailId;
    console.log(cocktailId);
}



</script>