<style>
#ingredient2 {

}

</style>
<div class='columns'>
    <div class="ingredients">
        <h3> Ingredients </h3>
        <input autofocus class = "center" type="text" id="myInput" onkeyup="searchBar()" placeholder="Search for ingredients..">
        <br>

        <ul id="myUL">
            <% ingredients.forEach(function(ingredient) { %>
                <li>    
                    <form method="POST" action="/addingredient">
                    <p id='ingredient<%= ingredient.id%>' href="#"> <%= ingredient.name %>
                        <button class="addIngredient" type="submit" value="<%= ingredient.id %>" name="ingredient">Add</button>
                    </p>
                    </form>
                </li>

            <% }); %>
        </ul>
        <h3>My Ingredients</h3>

            <form method="POST" action="/deleteallingredients">
                <p class = "center" href="#"> 
                    <button class="deleteIngredient" type="submit" value="1" name="ingredient">Clear All</button>
                </p>
            </form>

        <ul id="myIng">
            <% inventory.forEach(function(inventory) { %>
            <li>
                <form method="POST" action="/deleteingredient">
                <p href="#"> <%= inventory.name %> 
                    <button class="deleteIngredient" type="submit" value="<%= inventory.id %>" name="ingredient">X</button>
                </p>
                </form>
            </li>
            <% }); %>
        </ul>
    </div>

    <div class="cocktails">
        <h3>Cocktails You Can Make!</h3>

        <ul id="myTails">
            <% cocktails.forEach(function(cocktail) { %>
            <li>
                <!-- <a href="#"> <%= cocktail.name %> </a> -->
                <p>
                <button class="lookupCocktail" onClick="displayCocktail('<%=cocktail.imgUrl%>','<%=cocktail.id%>','<%=cocktail.blurb%>')">
                    <%= cocktail.name%>
                </button>
                </p>
            </li>
            <% }); %>
        </ul>
    </div>
    <div class="recipes">
        <h2 class="center">Cocktail Info</h2>
        <img id = "tail" class = "cocktailImage hide center" src = "#" width = 200>
        <div id = "recipe" class = "hide">
            <h3>Recipe:</h3> 
            <div id = "instructions">
                Mix Mix Mix
            </div>
        </div>
    </div>
</div>
<!-- <form method="POST" action="/addingredient">
 
  <label for="addingredient">Add Ingredient Id</label>
  <input id="addingredient" type="text" name="ingredient">

  <input type="submit">
</form>

<form method="POST" action="/deleteingredient">

    <label for="deleteingredient">Delete Ingredient Id</label>
    <input id="deleteingredient" type="text" name="ingredient">
  
    <input type="submit">
</form> -->


<script>

function searchBar() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("p")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1 && txtValue !== "") {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

function displayCocktail(cocktailImg, cocktailId, blurb) {
    document.getElementById('tail').src = cocktailImg;
    document.getElementById('tail').classList.remove('hide');
    document.getElementById('recipe').classList.remove('hide');
    document.getElementById('instructions').innerText = blurb;
    console.log(cocktailId);
    console.log(blurb);
}



</script>